body {
  background-color: rgb(14, 14, 14);
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
  display: contents;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.collection-cards {
  position: relative;
  height: 322px;
  width: 228px;
  padding: 0rem 2rem 2rem;
}
.collection-cards p {
  font-size: 2rem;
  padding-top: 4rem;
  text-align: center;
}
.card {
  border: solid rgb(197, 197, 197) 2px;
  border-radius: 8px;
  background-color: whitesmoke;
  color: rgb(14, 14, 14);
  margin: 0px;
  padding: 0px;
}
.card-main-back {
  position: absolute;
  height: 300px;
  width: 210px;
  left: 32px;
  top: 0px;
  z-index: 10;
}
.card-main-middle {
  position: absolute;
  height: 300px;
  width: 210px;
  left: 38px;
  top: 8px;
  z-index: 20;
}
.card-main-front {
  position: absolute;
  height: 300px;
  width: 210px;
  left: 44px;
  top: 16px;
  z-index: 30;
}

#main-content {
  max-width: 98%;
  margin: 0px 1%;
}
#all-collections {
  justify-content: center;
  max-width: 80%;
  margin: 0px auto;
  padding: 2rem 2rem 0rem 0rem;
  border: solid rgb(197, 197, 197) 2px;
  border-radius: 12px;
}
#main-content-title {
  text-align: center;
  font-size: 2.6rem;
}
#active-collection {
  justify-content: center;
  max-width: 80%;
  margin: 0px auto;
  padding: 2rem 2rem 0rem 0rem;
  border: solid rgb(197, 197, 197) 2px;
  border-radius: 12px;
}
#active-collection-cards {
  position: relative;
  height: 322px;
  width: 228px;
  padding: 0rem 2rem 2rem;
}
#card-active-back {
  position: absolute;
  height: 300px;
  width: 210px;
  left: 32px;
  top: 0px;
  z-index: 10;
}
#card-active-middle {
  position: absolute;
  height: 300px;
  width: 210px;
  left: 38px;
  top: 8px;
  z-index: 20;
}
#card-active-front {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  height: 300px;
  width: 210px;
  left: 44px;
  top: 16px;
  z-index: 30;
}
#word {
  margin: 0px;
  text-align: center;
  padding-top: 1rem;
  font-size: 3rem;
}
#definition {
  margin: 0px;
  text-align: center;
  padding: 1rem .5rem 0rem;
  font-size: 1.5rem;
}
#flip-card-image-holder {
  text-align: center;
  padding: 0rem 0rem;
  margin: 0px 3rem;
  z-index: 31;
}
#flip-card-image {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  body #main-content-title {
    font-size: 4.5rem;
  }
}